body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.popup {
  text-align:center;
  }
.popup .slideshow .image        { display:none; }
.popup .slideshow .image.active { display:block; }
.popup .slideshow img {
  width:100%;
  }
.popup .slideshow .caption {
  display: none;
  }
.popup .cycle {
  padding:10px 0 20px;
  }
  /*.popup .cycle a.prev { float:left; }
  .popup .cycle a.next { float:right; }*/
